.card {
    height: 100%;
    border-radius: 20px;
}

.card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-title, .mb-0 {
    margin-bottom: 0px;
}
.brand {
    font-style: oblique;
}

.size {
    font-size: 16px;
    font-weight: 500;
}

.pt-12 {
    padding-top: 12px !important;
}

@media (max-width: 425px) {
    .btn-primary{
        padding: 4px 8px;
        font-size: 12px;
    }
}