#imageInput {
    color: transparent;
}

.form-group {
    margin-bottom: 12px;
}

label {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: Roboto, sans-serif;
    margin-bottom: 4px;
}

.input-form {
    margin-top: 4px;
}

.image-upload-container, .image-input {
    max-width: 150px;  
}

.btn-bottom {
    margin-top: 6px;
    margin-bottom: 12px;
    margin-right: 20px;
}

.req {
    color: red;
}

/* *:required {
    background-color: pink;
} */

/* option[value=""][disabled] {
    display: none;
  } */