<div class="row">
    <div class="col-md-6">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" type="text" formControlName="title" class="form-control">
            </div>
            <div class="alert alert-danger" *ngIf="title?.touched && title?.invalid">
                <div *ngIf="title?.errors?.['required']">
                    Title is required.
                </div>
                <div *ngIf="title?.errors?.['minlength']">
                    Title should be at least {{ title?.errors?.['minlength'].requiredLength }} letters long.
                </div>
            </div>
        
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">￥</span>
                    <input formControlName="price" name="price" id="price" type="number" class="form-control">
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="price?.touched && price?.invalid">
                <div *ngIf="price?.errors?.['min']">
                    Price cannot be negative.
                </div>
            </div>
            
            <div class="form-group">
                <label for="category">Category</label>
                <select formControlName="category" id="category" class="form-control">
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.name">
                        {{ c.name }}
                    </option>
                </select>
            </div>
            <div class="alert alert-danger" *ngIf="category?.touched && category?.invalid">
                <div *ngIf="category?.errors?.['required']">
                    Category is required.
                </div>
            </div>
        
            <div class="form-group">
                <label for="image">Image URL</label> 
                <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control">
            </div>
            <div class="alert alert-danger" *ngIf="imageUrl?.touched && imageUrl?.invalid">
                <div *ngIf="imageUrl?.errors?.['pattern']">
                    Please enter a valid image url. (eg. https://website/image.jpg)
                </div>
            </div>
        
            <button class="btn btn-primary" type="submit"
            [disabled]="!productForm.valid">Save</button>
            <button class="btn btn-danger" type="button"
            (click)="delete()">Delete</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="imageUrl?.value" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{ title?.value }}</h4>
              <p class="card-text"> {{ price?.value | currency: 'JPY': "symbol" }}</p>
            </div>
          </div>
    </div>  


</div>
