<div class="row">
    <div class="col-md-6">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
            <div class="form-group">
                <label for="title">Title<span class="req">*</span></label>
                <input id="title" type="text" formControlName="title" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title?.touched && title?.invalid">
                    <div *ngIf="title?.errors?.['required']">
                        Title is required.
                    </div>
                    <div *ngIf="title?.errors?.['minlength']">
                        Title should be at least {{ title?.errors?.['minlength'].requiredLength }} letters long.
                    </div>
                    <div *ngIf="title?.errors?.['maxlength']">
                        Maximum Title length is {{ title?.errors?.['maxlength'].requiredLength }} letters long.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="brand">Brand</label>
                <select formControlName="brand" id="brand" class="form-control">
                    <option value="" disabled selected hidden></option>
                    <option value="Add new brand">- Add new brand -</option>
                    <option *ngFor="let b of brands$ | async" [value]="b">
                        {{ b }}
                    </option>
                </select>
                <input *ngIf="brand?.value === 'Add new brand'" id="name" type="text" [formControl]="inputBrand" class="form-control input-form">
                <div class="alert alert-warning" *ngIf="brand?.value === 'Add new brand' && inputBrand?.touched && inputBrand?.invalid">
                    <div *ngIf="inputBrand?.errors?.['required']">
                        Please enter brand
                    </div>
                    <div *ngIf="inputBrand?.errors?.['maxlength']">
                        Maximum Brand length is {{ inputBrand.errors?.['maxlength'].requiredLength }} letters long.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="size">Size</label>
                <select formControlName="size" id="size" class="form-control">
                    <option value="" disabled selected hidden></option>
                    <option *ngFor="let s of sizes$ | async" [value]="s.name">
                        {{ s.name }}
                    </option>
                    <option value="Others">- others -</option>
                </select>
                <input *ngIf="size?.value === 'Others'" id="name" type="text" [formControl]="inputSize" class="form-control input-form">
                <div class="alert alert-warning" *ngIf="size?.value === 'Others' && inputSize?.touched && inputSize?.invalid">
                    <div *ngIf="inputSize?.errors?.['required']">
                        Please enter size
                    </div>
                    <div *ngIf="inputSize?.errors?.['maxlength']">
                        Maximum Size length is {{ inputSize.errors?.['maxlength'].requiredLength }} letters long.
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">￥</span>
                    <input formControlName="price" name="price" id="price" type="number" class="form-control">
                </div>
                <div class="alert alert-danger" *ngIf="price?.touched && price?.invalid">
                    <div *ngIf="price?.errors?.['min']">
                        Price cannot be negative.
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="category">Category<span class="req">*</span></label>
                <select formControlName="category" id="category" class="form-control">
                    <option value="" disabled selected hidden></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.name">
                        {{ c.name }}
                    </option>
                </select>
                <!-- <input *ngIf="category?.value === 'Top'" id="name" type="text" [formControl]="inputCategory"> -->
                <!-- <input *ngIf="category?.value === 'Top'" #inputCategory (change)="onInputCategory($event)" type="text" class="form-control"> -->
                <div class="alert alert-danger" *ngIf="category?.touched && category?.invalid">
                    <div *ngIf="category?.errors?.['required']">
                        Category is required.
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <label for="image">Image URL<span class="req">*</span></label>
                <div class="d-flex justify-content-between align-items-center">
                    <label for="imageInput" 
                        class="image-upload-container btn btn-bwm">
                        <input #imageInput
                            id="imageInput"
                            class="image-input"
                            type="file"
                            accept="image/* | .heic"
                            formtarget="_blank"
                            (change)="onImageChange($event)">
                            <!-- (change)="onUpload(imageInput)"> -->
                    </label>
                    <div>
                        <mat-icon matTooltip="Enter a valid image url. (eg. https://website/image.jpg)">
                            help_outline
                        </mat-icon>
                    </div>
                </div>
                <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control">
                
                
                <!-- <div class="alert alert-danger" *ngIf="imageUrl?.touched && !downloadUrl">  -- && imageUrl?.invalid --
                    <div *ngIf="imageUrl?.errors?.['pattern'] || imageUrl?.value ==''">
                        Please enter a valid image url. (eg. https://website/image.jpg)
                    </div>
                </div> -->
            </div>

            <div class="form-group">
                <label for="title">Note</label>
                <input id="title" type="text" formControlName="note" class="form-control">
            </div>
        
            <button class="btn btn-primary btn-bottom" type="submit"
            [disabled]="
            !productForm.valid">Save</button> <!-- || ( brand?.value === 'Add new brand' && !inputBrand.valid ) || ( size?.value === 'Others' && !inputSize.valid)  -->
            <button *ngIf="isEdit" class="btn btn-danger btn-bottom" type="button"
            (click)="delete()">Delete</button>
        </form>
    </div>
    <div class="col-md-6">
        <product-card [inputBrand]="inputBrand.value" [product]="productForm.value" [showActions]="false"></product-card>
    </div>  
</div>
