/* https://stackoverflow.com/questions/69829040/table-like-alignment-of-different-width-columns-with-flexbox
    table, tr {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
} */
/* th, td {
    display: block;
    flex: 0 0 50%;
    width: 100%;
    box-sizing: border-box;
} */
