.col {
    margin-bottom: 3vw;
    padding: 0 1.5vw 0 1.5vw;
}

.row {
    margin-right: calc(-0.3 * var(--bs-gutter-x));
}

@media (max-width: 425px) {
    :host ::ng-deep product-card
        .card-body {
            padding: 8px;
        }
    :host ::ng-deep product-card
        .card-title {
            font-size: 14px;
            line-height: 16px;
        }
    :host ::ng-deep product-card
        .card-subtitle {
            font-size: 12px;
        }    
}