th {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  font-family: Roboto, sans-serif;
}

.filter-text {
  padding: 16px;
}

.table-wrapper {
  overflow: auto;
}

.mat-column-title {
  min-width: 180px;
}

.mat-column-note {
  min-width: 200px;
}

.mat-column-updatedUser,
.mat-column-createdUser {
  min-width: 150px;
}

.title {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.btn-edit {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;

  &:hover {
    background-color: black;
    color: white;
  }
}
