/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color1: #F5C263;
$color2: #F5AE4F;
$color3: #C48B3F;

// .list-group-item.active {
//     color: var(--bs-list-group-active-color);
//     background-color: $color2;
//     border-color: $color1;
// }